
.cabecalho{

    display: flex;
    justify-content: space-between;
    margin: 1em 4em;
    align-items: center;
  

}
.cabecalho__logo{
    display: flex;
    
}
.cabecalho__logo__titulo{
font-family: var(--fonte--principal);
font-size: 18px;
font-weight: 500;
line-height: 24px;
text-align: left;

}

.cabecalho__logo__imagem{
    margin-right: 0.5em;
}
.cabecalho-menu__lista{
display: flex;
gap: 32px;

}

.button-cabecalho{
    font-family: var(--fonte--principal);
    background:var(--cor--branco);
    border-style:none ;
  border-radius: 8px;
  padding: 1em;
font-size: 1em;
font-weight: 500;
line-height: 24px;
text-align: left;

}

.cabecalho-botoes__cadastrar{
    background: var(--cor--secundaria);
    color: var(--cor--branco);
    border: 1px;

}
